<!DOCTYPE html>

<html>
<head>

    <title>Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra</title>
    <!-- <link rel = "icon" href="https://www.myntra.com/opensearch.xml"
      type = "application/opensearchdescription+xml"> -->
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS357fHYAnvyZIqrnolaRs3MlCQO7PyKngEag&usqp=CAU"
          type="image/x-icon">
    <script src="https://kit.fontawesome.com/32979f5c51.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="~/Conetent/CSS/navbar.css">
    <link rel="stylesheet" href="~/Conetent/CSS/index.css">
    <link rel="stylesheet" href="~/Conetent/CSS/navbarmens.css">
    <link rel="stylesheet" href="~/Conetent/CSS/footer.css">




    <style>
        .h4text {
            text-transform: uppercase;
            color: #3e4152;
            letter-spacing: .15em;
            font-size: 1.8em;
            margin: 50px 0 50px 30px;
            max-height: 5em;
            font-weight: 500;
        }

        img {
            cursor: pointer;
        }

        #dealOfDay {
            display: grid;
            grid-template-columns: repeat(10,1fr);
        }

        #exclusiveBrands, #bestbuy {
            display: grid;
            grid-template-columns: repeat(8,1fr);
            gap: 5px;
        }

        #topicks {
            display: grid;
            grid-template-columns: repeat(7,1fr);
            gap: 5px;
        }

        #categorytobag, #trendingoutfit, #budgetpic, #unmissibleforseason, #newnessforeveryocc, #springsummerseason, #newintopbrands, #dealOntop, #myntraluxe, #springsummer, #trendsforher, #trendsforhim {
            display: grid;
            grid-template-columns: repeat(8,1fr);
        }

        #brandsAtslashed, #bestforkid, #stylecasthotestfind {
            display: grid;
            grid-template-columns: repeat(7,1fr);
        }

        #giftingcards {
            display: grid;
            grid-template-columns: repeat(5,1fr);
        }

        #dealsonlatestarr {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

        #latestinbeauty {
            display: grid;
            grid-template-columns: repeat(4,1fr);
        }

        #topinfluencer, #coloursofseassion {
            display: grid;
            grid-template-columns: repeat(6,1fr);
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>








</head>
<body>
    <!-- Nav Bar -->
    <div class="nav_up">
        <div id="navbar">

        </div>
    </div>
    <br><br><br><br>
    <!-- Nav Bar -->


    <div>
        @RenderBody()
    </div>

    <!-- Footer -->

    <div id="footerDiv"> </div>

    <script src="~/Conetent/scripts/index.js" type="module"></script>
    <a href="~/Views/Home_LayoutPage1.cshtml">~/Views/Home_LayoutPage1.cshtml</a>
</body>
</html>


