
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home_LayoutPage1.cshtml";
}

<body>







    <div style="width: 100%;padding: 0%;margin-top: 20px;margin-bottom: 10px;" class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="  https://localhost:44350/Home/Index">
                        <img src="~/Conetent/images/Offer.PNG" alt="Los Angeles" style="width:100%;">

                    </a>
                </div>
                <div class="item">
                    <a href="https://localhost:44350/Home/BeautylandingPage">
                        <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/3/a20271c6-249f-480b-bcc7-1b150516e54e1651599573998-Dressberry_Desk.jpg" alt="Chicago" style="width:100%;">
                    </a>
                </div>

                <div class="item">
                    <a href="https://localhost:44350/Home/kurtaSuitsWomen">
                        <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/3/3f6d1e2a-5ef6-4921-be5d-443a11b11d801651599573985-Dresses_Desk.jpg" alt="New york" style="width:100%;">
                    </a>
                </div>
                <div class="item">
                    <a href="https://localhost:44350/Home/tshirtsmen">
                        <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/3/e384cb32-690c-4ccf-a6cb-61df36960bb21651599573972-Workwear_Desk.jpg" alt="New york" style="width:100%;">
                    </a>
                </div>
                <div class="item">
                    <a href="https://localhost:44350/Home/sportsShoesMens">
                        <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/3/846beb79-ada7-48c3-a6c6-4448f276c2111651599573979-Sports-Shoes_Desk.jpg" alt="New york" style="width:100%;">
                    </a>
                </div>
            </div>
            
        </div>
    </div>

    <h4 class="h4text">DEAL OF THE DAY</h4>
    <div id="dealOfDay"></div>

    <h4 class="h4text">BEST OF MYNTRA EXCLUSIVE BRANDS</h4>
    <div id="exclusiveBrands"></div>

    <h4 class="h4text">TOP PICKS</h4>
    <div id="topicks"></div>

    <h4 class="h4text">CATEGORIES TO BAG</h4>
    <div id="categorytobag"></div>

    <h4 class="h4text">DEALS ON TOP BRANDS</h4>
    <div id="dealOntop"></div>

    <h4 class="h4text">BRANDS AT SLASHED PRICES</h4>
    <div id="brandsAtslashed"></div>

    <h4 class="h4text">BEST BUYS</h4>
    <div id="bestbuy"></div>

    <h4 class="h4text">MYNTRA LUXE</h4>
    <div id="myntraluxe"></div>

    <h4 class="h4text">GIFTING CARDS</h4>
    <div id="giftingcards"></div>

    <h4 class="h4text">DEALS ON LATEST ARRIVALS</h4>
    <div id="dealsonlatestarr"></div>

    <h4 class="h4text">SPRING SUMMER 2022- FIRST ON MYNTRA</h4>
    <div id="springsummer"></div>

    <h4 class="h4text">STYLECAST HOTTEST FINDS</h4>
    <div id="stylecasthotestfind"></div>

    <h4 class="h4text">TRENDS FOR HER</h4>
    <div id="trendsforher"></div>

    <h4 class="h4text">TRENDS FOR HIM</h4>
    <div id="trendsforhim"></div>

    <h4 class="h4text">BEST OF KIDSWEAR</h4>
    <div id="bestforkid"></div>

    <h4 class="h4text">NEW IN TOP BRANDS</h4>
    <div id="newintopbrands"></div>

    <h4 class="h4text">SPRING SUMMER SEASON CHECKLIST</h4>
    <div id="springsummerseason"></div>


    <h4 class="h4text">NEWNESS FOR EVERY OCCASION</h4>
    <div id="newnessforeveryocc"></div>

    <h4 class="h4text">LATEST IN BEAUTY & GROOMING</h4>
    <div id="latestinbeauty"></div>

    <h4 class="h4text">UNMISSABLE THIS SEASON</h4>
    <div id="unmissibleforseason"></div>

    <h4 class="h4text">COLOURS OF THE SEASON</h4>
    <div id="coloursofseassion"></div>

    <h4 class="h4text">TOP INFLUENCERS EXCLUSIVE STYLES</h4>
    <div id="topinfluencer"></div>





</body>
<script src="~/Conetent/scripts/index.js" type="module"></script>
<a href="~/Views/Home_LayoutPage1.cshtml">~/Views/Home_LayoutPage1.cshtml</a>


